* {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blueviolet;
    font-size: 20px;

}

p {
    font-style: italic;
    color: aqua;
}

a {
    color: orange;
    text-decoration: none;
}